<aside class="right-sidebar">
    <img class="right-sidebar__image" src="./images/mimimo2_1.png" alt="minimo2_1.png">
    <h4 class="right-sidebar-about-me default-font-style default-h4">About me</h4>
    <p class="about-me__text default-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor
        incididunt ut labore et dolore magna aliqua.</p>
    <h5 class="right-sidebar-top-posts default-font-style">Top posts</h5>
    <ul class="right-sidebar-top-posts-list default-font-style default-ul">
        <li class="right-sidebar-top-posts-list__item">
            <p class="top-post-name default-p">A day exploring the Alps</p>
            <p class="top-post-comment-count default-p">24 Comments</p>
        </li>
        <li class="right-sidebar-top-posts-list__item">
            <p class="top-post-name default-p">American dream</p>
            <p class="top-post-comment-count default-p">19 Comments</p>
        </li>
        <li class="right-sidebar-top-posts-list__item">
            <p class="top-post-name default-p">Cold winter days</p>
            <p class="top-post-comment-count default-p">15 Comments</p>
        </li>
    </ul>
</aside>