<div class="header">
    <div class="header-wrapper">
        <a class="link-main-page default-a" href=""><img class="header__title" src="./images/Logo.png" alt="Logo.png"></a>
        <ul class="header-menu default-ul">
            <li class="header-menu__item default-font-style"><a class="header-menu__url default-a">Lifestyle</a></li>
            <li class="header-menu__item default-font-style"><a class="header-menu__url default-a">Photodiary</a></li>
            <li class="header-menu__item default-font-style"><a class="header-menu__url default-a">Music</a></li>
            <li class="header-menu__item default-font-style"><a class="header-menu__url default-a">Travel</a></li>
        </ul>
    </div>
    <img class="main-cover__image" src="./images/cover_image.png" alt="cover_image.png">
</div>
