body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.default-a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.default-ul {
  list-style: none;
  padding: 0;
}

.default-p,
.default-h3,
.default-h4 {
  margin: 0;
  padding: 0;
}

.default-font-style {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.main {
  width: 1060px;
  padding-bottom: 275px;
  display: flex;
}
