.footer {
  display: flex;
  width: 1200px;
  height: 100px;
  background: #f0f0f0;
}

.footer-menu {
  display: flex;
  align-items: center;
  margin-left: 120px;
}

.footer-menu__item {
  margin-right: 30px;
  font-size: 14px;
  line-height: 21px;
  color: #424243;
}
